env
__pycache__/
config/email.json
config/gemini-config.json
config/discord-credentials.json
data/chroma.db
src/BotDiscord/texto.txt
src/BotDiscord/images/valores.png
src/BotDiscord/comprovantes/Comprovante_103168347055.pdf
src/BotDiscord/comprovantes/WhatsApp_Image_2025-03-06_at_20.35.11.jpeg